---

let { twitterUsername } = Astro.props;
const { title, desc, img } = Astro.props;
---

<head>
  <!-- essential -->
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width' />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- core -->
  {title && <title>{title}</title>}
  {desc && <meta name='description' content={desc} />}
  <!-- twitter -->
  <meta name='twitter:card' content='summary_large_image' />
  {title && <meta name='twitter:title' content={title} />}
  {desc && <meta name='twitter:description' content={desc} />}
  <meta name='twitter:image' content={img} />
  {title && <meta name='twitter:image:alt' content={title} />}
  {twitterUsername && <meta name='twitter:site' content={twitterUsername} />}
  {twitterUsername && <meta name='twitter:creator' content={twitterUsername} />}
  <!-- og -->
  {title && <meta property='og:title' content={title} />}
  {desc && <meta property='og:description' content={desc} />}
  <meta property='og:image' content={img} />
  {title && <meta property='og:image:alt' content={title} />}
  {title && <meta property='og:site_name' content={title} />}
  <meta property='og:type' content='object' />
  <meta property='og:url' content={Astro.site} />
  <slot />
</head>
